<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
    </style>
</head>
<body style="background:#f9f9f7;padding: 15px;">
<div class="container">
    <div class="company" style="padding: 0 20px;padding-top: 5px;padding-bottom: 55px;background: #fff;box-shadow: 0 0 14px #a7a7b3;">
        <p style="margin-top:5px;">
            <img src="../../images/img/health-tips/animal_heat.png" style="width: 100%;margin: 5px 1px;"/>
        </p>
        <p style="color:#666666;text-align: justify;">
            人体正常在37摄氏度左右，一天中会略有波动，早晨较低，下午较高，不应该超过正负0.2，体温高于正常最常见的原因是细菌病毒感染，体温低于正常可能是代谢疾病或者长时间暴露在低温环境。
        </p>
    </div>
</div>
</body>
</html>