<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
        .rad{display: inline-block;width:20px;height:20px;border-radius:10px;background: #76dfdb;color:#fff;text-align: center;line-height: 20px;}
        .a-center{display: -webkit-flex;display:flex;align-items:stretch;}
    </style>
</head>
<body style="background:#f9f9f7;padding: 15px;">
<div class="container">
    <div class="company" style="padding: 0 20px;padding-top: 5px;padding-bottom: 55px;background: #fff;box-shadow: 0 0 14px #a7a7b3;">
        <p style="margin-top:5px;">
            <img src="../../images/img/health-tips/blood_glucose.png" style="width: 100%;margin: 5px 1px;"/>
        </p>
        <p class="a-center" style="margin-bottom: 10px;color:#666666;">
            <span class="rad">1</span>
            <span style="color:#666666;font-size: 16px;text-align: justify;width: 95%;">
                空腹全血血糖为3.9～6.1毫摩尔/升(70～110毫克/分升。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">2</span>
            <span style="color:#666666;font-size: 16px;text-align: justify;width: 95%;">
                空腹全血血糖≥6.7毫摩尔/升(120毫克/分升，2次重复测定可诊断为糖尿病。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">2</span>
            <span style="color:#666666;font-size: 16px;text-align: justify;width:95%;">
                当空腹全血血糖超过11.1毫摩尔/升(200毫克/分升)时，表示胰岛素分泌极少或缺乏。因此，空腹血糖显着增高时，不必进行其它检查，即可诊断为糖尿病。<br/>
                随机血糖值 大于11.1 mmol/L 诊断糖尿病。<br/>
                餐后2小时 低于7.8 mmol/L 为正常 大于 11.1 mmol/L 诊断为糖尿病  7.8 mmol/L - 11.0 mmol/L 糖尿病前期<br/>
            </span>
        </p>
    </div>
</div>
</body>
</html>