<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
    </style>
</head>
<body style="background:#f9f9f7;padding: 15px;">
<div class="container">
    <div class="company" style="padding: 0 20px;padding-top: 5px;padding-bottom: 55px;background: #fff;box-shadow: 0 0 14px #a7a7b3;">
        <p style="margin-top:5px;">
            <img src="../../images/img/health-tips/oxyhemoglobin.png" style="width: 100%;margin: 5px 1px;"/>
        </p>
        <p style="color:#666666;text-align: justify;width: 100%;">
            SpO2正常应不低于94%，在94%以下为供氧不足，易发生于有慢性阻塞性肺部疾病，哮喘的急性发作时，或者有睡眠呼吸暂停综合症睡眠时。
        </p>
    </div>
</div>
</body>
</html>