<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
        .rad{display: inline-block;width:20px;height:20px;border-radius:10px;background: #76dfdb;color:#fff;text-align: center;line-height: 20px;}
        .a-center{display: -webkit-flex;display:flex;align-items:stretch;}
    </style>
</head>
<body style="background:#f9f9f7;padding: 15px;">
<div class="container">
    <div class="company" style="padding: 0 20px;padding-top: 5px;padding-bottom: 55px;background: #fff;box-shadow: 0 0 14px #a7a7b3;">
        <p style="margin-top:5px;">
            <img src="../../images/img/health-tips/urinalysis.png" style="width: 100%;margin: 5px 1px;"/>
        </p>
        <p class="a-center" style="margin-bottom: 10px;color:#666666;">
            <span class="rad">1</span>
            <span style="color:#666666;font-size: 16px;width:95%;text-align: justify;">
                尿酸碱度(尿pH值) ，了解尿液的酸碱度，对诊断某些肾脏或代谢性疾病可提供重要线索。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">2</span>
            <span style="color:#666666;font-size: 16px;width:95%;text-align: justify;">
                尿比重，比重低见于慢性肾炎，尿崩症。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">3</span>
            <span style="color:#666666;font-size: 16px;width:95%;text-align: justify;">
                红细胞，增多：泌尿系统炎症或肿瘤。白细胞 ：增多：泌尿系统感染、结核。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">4</span>
            <span style="color:#666666;font-size: 16px;width:95%;text-align: justify;">
                化学检查：蛋白，阳性：肾炎、慢性肾炎;泌尿系统感染、高热、肾结核。糖，阳性：糖尿病。酮体，阳性：过度饥饿，严重糖尿病。尿胆元 ，大于正常见于肝炎，肝癌等引起的黄疸及溶血性黄疸。胆红素 ，阳性：阻塞性黄疸。
            </span>
        </p>
        <p class="a-center">
            <span class="rad">5</span>
            <span style="color:#666666;font-size: 16px;width:95%;text-align: justify;">
                长期血压，血糖未得到良好控制的患者会造成肾功能受损，尿中出现蛋白，胴体，糖。
            </span>
        </p>
    </div>
</div>
</body>
</html>