<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <!--[if lt IE 9]>
    <script type="text/javascript" src="../lib/html5shiv.js"></script>
    <script type="text/javascript" src="../lib/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="../static/h-ui/css/H-ui.min.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-admin/css/H-ui.admin.css" />
    <link rel="stylesheet" type="text/css" href="../lib/Hui-iconfont/iconfont.css" />
    <link rel="stylesheet" type="text/css" href="../static/h-admin/skin/default/skin.css" id="skin" />
    <link rel="stylesheet" type="text/css" href="../static/h-admin/css/main.css">
    <link rel="stylesheet" type="text/css" href="../lib/layer/skin/layer.css" />

    <!--[if IE 6]>
    <script type="text/javascript" src="../lib/DD_belatedPNG_0.0.8a-min.js" ></script>
    <script>DD_belatedPNG.fix('*');</script>
    <![endif]-->
    <title>新增用户 </title>
</head>
<body>
<article class="page-container">
    <form class="form form-horizontal" id="form-member-edit" enctype="multipart/form-data">
        <div class="row cl member-list-input">
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <input type="text"  readonly="true"  id="user_name" name="user_name" style="width: 240px;border: none;">
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 member-input-1">
            	<div class="col-xs-12 col-sm-12 card_show_1" style="display:none;">
	                <label class="form-label col-xs-2 col-sm-2" style="margin-left:-10px;"><span class="c-red">*</span>身份证号</label>
	                <div class="formControls col-xs-7 col-sm-7">
	                    <input id="user_card" readonly="true" name="user_card" style="width:240px;border:none;">
	                </div>
                </div>
                <div class="col-xs-12 col-sm-12 passport_show_1" style="display:none;">
	                <label class="form-label col-xs-2 col-sm-2" style="margin-left:3px;"><span class="c-red">*</span>护照（其他）</label>
	                <div class="formControls col-xs-7 col-sm-7" style="padding-left: 4px;">
	                    <span id="passport"></span>
	                </div>
                </div>
                <div class="col-xs-12 col-sm-12 passport_show_1" style="display:none;">
	                <label class="form-label col-xs-2 col-sm-2" style="margin-left:-7px;"><span class="c-red">*</span>年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
	                <div class="formControls col-xs-7 col-sm-7">
	                    <span id="user_age"></span>
	                </div>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>家庭医生:</label>
                <div id="index-layer-administrative formControls col-xs-7 col-sm-7">
					<select id="province_name" class="select" name="province_name"  style="height:30px;width: 80px;background:#ddd;margin-left:15px;" disabled="true">
					      <option value="" selected>浙江省</option>
					</select>
					<select id="prefecture_city_name" class="select" name="prefecture_city_name " style="height:30px;width: 80px;background:#ddd;" disabled="true">
					      <option value="" selected>宁波市</option>
					</select>
					<select id="hosp_order_id" class="select" name="hosp_order_id" style="height:30px;width: 140px;">
					      <option id="hosp-select" value="" selected>选择医院</option>
					</select>
					<select id="department_order_id"  class="select" name="department_order_id" size="1" style="height:30px;width: 100px;">
                          <option>选择科室</option>
                    </select>
                    <select id="doctor_id" class="select" name="doctor_id" style="height:30px;width: 100px;">
					      <option id="doctor-select" value="" selected>选择医生</option>
					</select>
				</div>
                <span id="doctor_id_mes" style="color:#d22f4c;"></span>
            </div>


            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2"><span class="c-red">*</span>手机号码</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <input id="user_phone" class="input-text" readonly="true" name="user_phone" style="width:240px;border:none;height: 30px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">邮&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <input id="email" class="input-text"  name="email" style="width:240px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">医生卡号</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <input type="text" class="input-text" placeholder="请输入医保卡号" id="user_medicare_card" name="user_medicare_card" style="width:240px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
               <label class="form-label col-xs-2 col-sm-2">电话（小灵通）</label>
               <div class="formControls col-xs-7 col-sm-7">
                    <input type="text" class="input-text" placeholder="请输入电话号码" id="user_phs_phone" name="user_phs_phone" style="width:240px;">
               </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
               <label class="form-label col-xs-2 col-sm-2">国&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;家</label>
               <div class="formControls col-xs-7 col-sm-7">
               		<span id="country_name"></span>
               </div>
            </div>            
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">性&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;别</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <span class="select-box" style="width: 90px;overflow: hidden;border: none;">
                        <select id="user_sex" class="select" name="user_sex" size="1" disabled="true" style="border: none;width:100px;">
                            <option id="sex-search" value="0" selected></option>
                            <option id="sex-man" value="200001">男</option>
                            <option id="sex-wen" value="200002">女</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1" style="display: none;">
                <label class="form-label col-xs-2 col-sm-2">年&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
                <div class="formControls col-xs-5 col-sm-5">
<!--
                    <input id="user_age" readonly="true" name="user_age" style="border: none;width:35px;">
-->
                    <span id="user_age"></span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">身&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;高</label>
                <div class="formControls col-xs-5 col-sm-5">
                    <input id="user_height" type="number" class="input-text" name="user_height" style="width:220px;">
                    <span>cm</span>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">体&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;重</label>
                <div class="formControls col-xs-5 col-sm-5">
                    <input id="user_weight" type="number" class="input-text" name="user_weight" style="width:220px;">
                    <span>kg</span>

                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">Q&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Q</label>
                <div class="formControls col-xs-5 col-sm-5">
                    <input id="qq" class="input-text" name="qq" style="width:220px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">微&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;信</label>
                <div class="formControls col-xs-5 col-sm-5">
                    <input id="wechat" class="input-text" name="wechat" style="width:220px;">
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">血&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;型</label  >
                <div class="formControls col-xs-7 col-sm-7">
                    <span class="select-box" style="width:140px;">
                        <select id="user_blood" class="select" name="user_blood" size="1">
                            <option value="100001" selected>A型</option>
                            <option value="100002">B型</option>
                            <option value="100003">AB型</option>
                            <option value="100004">O型</option>
                            <option value="57">其他</option>
                        </select>
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-sm-12 member-input-1">
                <label class="form-label col-xs-2 col-sm-2">婚姻状况</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <select id="user_marriage" class="select" name="user_marriage" size="1" style="height:30px;width: 140px;">
                        <option value="300002">未婚</option>
                        <option value="300001">已婚</option>
                        <option value="300003">离婚</option>
                        <option value="300004">丧婚</option>
                    </select>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 member-input-1" >
                <label class="form-label col-xs-2 col-sm-2">费用类型</label>
                <div class="formControls col-xs-7 col-sm-7">
                    <span class="select-box" style="width:140px;">

                        <select id="user_medical_burden"  class="select" name="user_medical_burden" size="1">
                            <option value="1300002">医保</option>
                            <option value="1300001">自费</option>
                            <option value="1300003">商业保险</option>
                        </select>
                    </span>
                </div>
            </div>

            <div class="col-xs-12 col-sm-12 member-input-1">
                <h5 class="form-label col-xs-2 col-sm-2">身份证照</h5>
                <div style="display: -webkit-flex;display: flex; align-items: center;  -webkit-align-items: center;margin:15px 0 -24px 15px">
                    <div style="margin-right: 10px;">
                        <img src="../images/idcard_01.png" class='bor'  id="look_img" style="width:170px;height:130px;cursor: pointer;" onclick="javascript:$('#image').click()">
                        <p class="text-c">正面</p>
                        <input class="file" id="image" name="image" type="file" MULTIPLE="true" ACCEPT="image/gif,image/jpeg,image/jpg,image/png" style="display:none">
					<span class="btn-upload form-group">
						<input type="file" multiple name="image-1" class="input-file">
					</span>
                    </div>
                    <div>
                        <img src="../images/idcard_02.png" class='bor'  id="look_img2" style="width:170px;height:130px;cursor: pointer" onclick="javascript:$('#image2').click()">
                        <p class="text-c">反面</p>
                        <input class="file" id="image2" name="image2" type="file" MULTIPLE="true" ACCEPT="image/gif,image/jpeg,image/jpg,image/png" style="display:none">
					<span class="btn-upload form-group">
						<input type="file" multiple name="image2-1" class="input-file">
					</span>
                    </div>
                </div>
            </div>

            <div class="col-xs-8 col-sm-9 col-xs-offset-3 col-sm-offset-2">
                <button class="btn btn-success radius" type="button" onclick="member_edit();">保存</button>
                <button class="btn btn-danger radius" type="button" onclick="layer_close()">取消</button>
            </div>
        </div>
    </form>
</article>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="../lib/jquery/jquery.min.js"></script>
<script type="text/javascript" src="../lib/layer/js/layer.js"></script>
<script type="text/javascript" src="../static/h-ui/js/H-ui.min.js"></script>
<script type="text/javascript" src="../static/h-admin/js/H-ui.admin.js"></script>
<script type="text/javascript" src="../static/h-admin/js/main.js"></script>
<script type="text/javascript" src="../static/h-admin/js/verification-check.js"></script>
<!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="../lib/jquery.validation/js/jquery.validate.js"></script>
<script type="text/javascript">
    var ulist="";
    var user_id="";
    $(function(){
        //获取地址栏的参数
        var a = window.location.href;
        var s=a.indexOf("?");
        var t=a.substring(s+1);
        ulist=t.split("&");
        user_id=ulist[0];
        $.ajax({
            url:"../../../user-platform/query.action",
            type:"post",
            dataType:'json',
            data:{user_id:user_id,user_type:"1500001"},
            success:function(p) {
                $("#user_name").val(p.user_name);
                $("#user_card").val(p.user_card);
                //
                initHostipal(p);
                //
                initDepartment(p);
                //
                initDoctor(p);
                //
                $("#user_phone").val(p.user_phone);
                $("#email").val(p.email);
                $("#user_medicare_card").val(p.user_medicare_card);
                $("#passport").html(p.passport);
                $("#user_sex  option[value='"+p.user_sex+"']").attr("selected",true);
                $("#user_age").html(p.user_age+'岁');
                $("#user_height").val(p.user_height);
                $("#user_weight").val(p.user_weight);
                $("#user_phs_phone").val(p.user_phs_phone);
                $("#country_name").html(p.country_name);
                $("#qq").val(p.qq);
                $("#wechat").val(p.wechat);
                $("#user_blood  option[value='"+p.user_blood+"']").attr("selected",true);
                $("#user_marriage  option[value='"+p.user_marriage+"']").attr("selected",true);
                $("#user_medical_burden  option[value='"+p.user_medical_burden+"']").attr("selected",true);
                if(p.user_card_front_upload_index!="" || p.user_card_back_upload_index!=""){
                    $("#look_img").attr("src",p.user_card_front_upload_index);
                    $("#look_img2").attr("src",p.user_card_back_upload_index);
                }
            }
        }).done(function(){
        	if($("#user_card").val()!=""){
        		$(".card_show_1").show();
        		$(".passport_show_1").hide();
        	}else{
         		$(".card_show_1").hide();
        		$(".passport_show_1").show();       		
        	}
        });
        //加载医生
        selectDepartment();
    });
    //显示医院
    function initHostipal(json){
    	//医生管理模块 医院和科室下拉列表显示
	    var hostipal_list = "<option value=''>全部</option>";
	    $.ajax({
	        url:"../../../constant/hospitals.action",
	        type:"get",
	        dataType : 'json',
	        success:function(hosp) {
	            $.each(hosp.data, function(i,p){
	                hostipal_list += "<option value='"+p.order_id+"'>"+p.hosp_name+"</option>";
	            });
	            $('#hosp_order_id').empty();
	            $('#hosp_order_id').append(hostipal_list);
	            //
	            $("#hosp_order_id  option[value='"+json.hosp_order_id+"']").attr("selected",true);
	        }
	    });
    }
    //显示科室
    function initDepartment(json){
    	var department_list = "<option value=''>全部</option>";
    	$.ajax({
            url:"../../../constant/position.action",
            type:"get",
            dataType : 'json',
            data:{type:"hosp_department",parent_id:json.hosp_order_id},
            success:function(department) {
                $.each(department.data, function(i,p){
                    department_list += "<option value='"+p.order_id+"'>"+p.department_name+"</option>";
                });
                $('#department_order_id').empty();
                $('#department_order_id').append(department_list);
                //
                $("#department_order_id  option[value='"+json.department_order_id+"']").attr("selected",true);
            }
        });
    }
    //显示医生
    function initDoctor(doctor_json){
    	$.ajax({
            url:"../../../constant/getDoctorList.action",
            type:"get",
            dataType : 'json',
            data:{department_order_id : doctor_json.department_order_id},
            success:function(json) {
            	var doctor_html = "<option value=''>全部</option>";
                $.each(json.data, function(i,p){
                    doctor_html += "<option value='"+p.doctor_id+"'>"+p.doctor_name+"</option>";
                });
                $('#doctor_id').empty();
                $('#doctor_id').append(doctor_html);
                //
              	$("#doctor_id  option[value='"+doctor_json.doctor_id+"']").attr("selected",true);
              	console.log(json);
	         }
      	 });
    }
    //选择科室
    function selectDepartment(){
    	$("#department_order_id").change(function(){
    		var dep_id = $(this).val();
    		console.log(dep_id)
    		if(dep_id){
    			$.ajax({
		            url:"../../../constant/getDoctorList.action",
		            type:"get",
		            dataType : 'json',
		            data:{department_order_id : dep_id},
		            success:function(json) {
		            	var doctor_html = "<option value=''>全部</option>";
		                $.each(json.data, function(i,p){
		                    doctor_html += "<option value='"+p.doctor_id+"'>"+p.doctor_name+"</option>";
		                });
		                $('#doctor_id').empty();
		                $('#doctor_id').append(doctor_html);
			         }
	       	 	});
    		}
    	});
    }
    //点击修改
    function member_edit(){
        //调用会员编辑校验
        var result=member_edit_check();
        if(result){
            var data=$.param({user_id:user_id})+'&'+ $('#form-member-edit').serialize();
            $.ajax({
                url:"../../../user-platform/modifyMember.action",
                type:"post",
                dataType:'json',
                data:data,
                success:function(response){
                    if(response.flag==true){
                        upload_image(user_id);
                        layer.msg('修改成功!',{time:2000});
                        setTimeout(function () {
                            parent.location.reload();
                            layer_close()
                        }, 1000);
                    }else{
                        layer.msg(response.errmsg);
                    }
                }
            });
        }
    }
    //保存上传图片
    function upload_image(user_id){
        var data=new FormData($("#form-member-edit")[0]);
        $.ajax({
            type:"post",
            url:"../../../upload/file.action",
            headers:{user_id:user_id,report_type:'500005',user_type:"2"},
            data:data,
            dataType:"json",
            processData:false,
            contentType:false,
            success:function(data){
                files = data;
            }
        });
    }

    //上传身份证组件
    function upload_img(up_img,show_img){
        $(up_img).change(function() {
            var file = this.files[0];
            var r = new FileReader();
            r.readAsDataURL(file);
            $(r).load(function() {
                $(show_img).attr({src:this.result,class:'no-bor'});
            })
        })
    }
    
    
    upload_img("#image","#look_img");
    upload_img("#image2","#look_img2");
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>