@charset "utf-8";
/* 默认 黑色 */	
/*全站默认字体颜色*/
a{color:#333}
a:focus,.maincolor,.maincolor a{color:#06c}
.navbar{ background:#fff;}/*顶部导航*/
	.navbar-logo,.navbar-logo-m,.navbar-slogan,.navbar-userbar{color:#222;}/*logo 及 用户信息文字颜色*/
	.navbar-logo:hover,.navbar-logo-m:hover{text-decoration: none}
	
.navbar-nav > ul > li, .navbar-nav > ul > li > a{ color:#222;}/*顶部导航文字颜色*/
.navbar-userbar > ul> > li,.navbar-userbar > ul> > li > a{ color:#222;}

.Hui-aside{}/*侧边栏*/
	.Hui-aside .menu_dropdown dt{color:#fff;}/*左侧二级导航菜单*/
/*.Hui-aside .menu_dropdown dt:hover{color:#da281f;}*/
/*.Hui-aside .menu_dropdown dt:hover i{color:#da281f;}*/
.Hui-aside .menu_dropdown dt:hover [class^="icon-"]{ color:#7e8795}
	.Hui-aside .menu_dropdown li a{color:#fff;border-bottom: 1px solid #e5e5e5}
	.Hui-aside .menu_dropdown li a:hover{color:#da281f;background-color:#d2d2d2;}
	.Hui-aside .menu_dropdown li a:focus{color:#da281f;background-color:#fff;}
	.Hui-aside .menu_dropdown li.current a,.menu_dropdown li.current a:hover{color:#148cf1}
	.Hui-aside .menu_dropdown dt .Hui-iconfont{ color:#a0a7b1}
	.Hui-aside .menu_dropdown dt .menu_dropdown-arrow{ color:#fff;}
	.dislpayArrow a{background:url(icon_arrow.png) no-repeat 0 0}