<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>肺活量计</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
</head>
<body>
<div class="container">
    <div class="use-explain">
        <ul class="use-explain-list">
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_1.png" alt="" style="width:100%;"/>
                </div>
                <p>1、将涡轮盖取下，将吹嘴直接插入涡轮口；</p>
            </li>
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_2.png" alt="" style="width:100%;"/>
                </div>
                <p>2、长按开机／确定键开机；</p>
            </li>
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_3.png" alt="" style="width:100%;"/>
                </div>
                <p>3、在“Testing”界面，深吸气，含住吹嘴，以最快速度、在最短时间内将肺部气体全部吹出，等待几秒，即可得到测量数据;</p>
            </li>
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_4.png" alt="" style="width:100%;"/>
                </div>
                <P>4、在测量结果显示界面，按开机／确定键进入主菜单界面；按“重复测量”键开始新的测量;</P>
            </li>
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_5.png" alt="" style="width:100%;"/>
                </div>
                <P>5、肺活量计可以存储多组数据;</P>
            </li>
            <li>
                <div class="use-img">
                    <img src="../../images/img/vital-img/equipment_6.png" alt="" style="width:100%;"/>
                </div>
                <P>6、肺活量计在无任何操作的情况下一分钟自动关机;</P>
            </li>
        </ul>
    </div>
</div>
</body>

</html>