<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
    </style>
</head>
<body>
<div class="container">
    <div class="company" style="padding: 0 20px;">
        <h2 >血压值为什么每次测都不一样？</h2>
        <span style="margin-left: 75px;margin-right: 8px;color:#666666;">2017-04-25 17:40</span><span>作者：39健康网</span>
        <p style="margin-top:5px;">
            <img src="../../images/img/health-exposition/heal_03.png" style="width: 95%;margin: 5px 2px;"/>
        </p>
        <h3>1、身体状况</h3>
        <p style="margin-bottom: 10px;color:#666666;">
            血压值的波动往往与人的活动有关，如吸烟、运动、沐浴、饮酒、紧张等，血压值都会有所变化。虽然医生检查时测量血压只测一次，但并等于血压就是恒定的。
        </p>
        <h3>2、反复测量可能会引起血压变化</h3>
        <p style="color:#666666;">
            反复多次测量血压，会导致手臂受压迫，血液流通不畅，从而引起血压值变化。连续测量血压时，血管壁多次被挤压，由于还未恢复弹性，大多数人测出来的血压值会越来越低。如果本身有动脉硬化、血管狭窄、堵塞症状者，则可能越测越高。
        </p>
        <h3>3、环境因素</h3>
        <p style="margin:10px 0;color:#666666;">
            在一般情况下，两次血压值测量的差值最高可能有50毫米汞柱以上，所以要诊断是否患上高血压，需要在安静状态下，连续3天选同一时间，每隔5~10分钟测一次，连续测试3次，得出平均值，再综合判断。连续测量读数不一样，反而显示了测量血压的客观和准确。
        <p>
        <h3>4、仪器使用和保养</h3>
        <p style="margin:10px 0;color:#666666;">
            血压计的使用方式是否正确，保养是否得当也会对血压测量有所影响。购买血压计要选择袖带尺寸合适的，测量血压时手臂要平放在桌子上，保持上臂和心脏在同一水平。血压计要定期前往医院或者售后服务中心校准。
        <p>
    </div>
</div>
</body>
</html>