<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
    <style>
        *{font-family: "Microsoft Yahei";}
        div{margin:5px 0;}
        h2{font-weight:bold;font-size:25px;text-align: center;margin: 10px 0; }
        h3{font-weight: bold;margin:8px 0;font-size: 18px; }
        p{margin:3px 0;font-size: 16px;}
    </style>
</head>
<body>
<div class="container">
    <div class="company" style="padding: 0 20px;">
        <h2 >瞄准精准医疗市场，微瞰智能从数字病理切入促进分级治疗</h2>
        <span style="margin-left: 75px;margin-right: 8px;color:#666666;">2017-04-25 17:40</span><span>作者：无知喵</span>
        <p style="margin-top:5px;">
            <img src="../../images/img/health-exposition/heal_02.png" style="width: 95%;margin: 5px 2px;"/>
        </p>
        <p style="margin-bottom: 10px;color:#666666;">
            据统计，2015年中国新增癌症患者429.2万，死亡癌症患者281.4万，过去30年我国癌症死亡率增加了80%。肿瘤良恶性的准确判别及恶性肿瘤的分类，对于肿瘤患者的临床治疗方法和预后具有重要意义，而这一切都有赖于高质量、精准的病理诊断。
        </p>
        <p style="color:#666666;">
            但鉴于中国病理医生的收入低且培养模式不健全，导致全国病理医生极度缺乏。工作方式上，病理诊断流程对手工依赖性高、自动化程度低，人工核对验证的方式较普遍。同时，三甲医院下病理科医生因为经验或者读片数量的差别，病理读片的准确率相差甚远。而随着肿瘤发病率的日益上升，病理诊断的工作量不断加大，加之伴随诊断、分子诊断、远程会诊及数字病理等检测需求不断递增，病理科在满足临床对快速、准确、靶向、预测性病理诊断的需求方面面临着巨大挑战。
        </p>
        <p style="margin:10px 0;color:#666666;">
            如此现状下，成立于2016年10月的微瞰智能，便是一家致力于数字病理辅助诊断整体解决方案的服务提供商。公司以病理图像分析系统为核心产品，为医生提供辅助病理诊断系统，形成病理诊断人工智能训练集生产中心及平台数据库，促进优质病理诊断资源的优化配置以促进分级诊疗。今年2月份，公司曾获得上海众合创业投资、上海优势奇正投资的天使轮投资。
        </p>
        <p style="margin:10px 0;color:#666666;">
            在产品层面，据创始人李冠男介绍，目前微瞰智能主要面向医院、科研机构提供数字病理图像分析的DPAS系统以及基于人工智能的数字病理图像分析模块服务。在功能上，通过DPAS系统可以实现对数字化病理样本的存储、展现、处理（标记/切割/计数）、诊断、审核和交互；可以帮助医生进行数字病理的远程会诊以实现医院科室间的内外协作；同时也可与CIS、EMR整合，实现以临床或患者为中⼼的数据集成；而除了这些基础的分析功能外，微瞰智能针对不同疾病还会提供基于人工智能的数字病理图像分析模块，其中包括乳腺癌、肺癌、结直肠癌、肝癌、胃癌等。从实际效果来看，李冠男表示传统工作方式下医生的病理读片的精准率平均水平在50%～60%之间，而通过借助系统的辅助诊断再结合医生判断则可以提升到96%～99%的精准率。        </p>
        <p style="margin:10px 0;color:#666666;">
            目前，微瞰智能主要采取渠道合作的方式进行推广，通过与扫描仪等硬件厂商、运营商、地方智慧医疗进行深度合作为医院提供整体的病理辅助诊断方案。营收上，前期则是以Saas服务的方式，通过平台的基础软件功能收取年费以及分析模块的增值服务费；未来，还会建立自己的病理诊断人工智能训练集生产中心及平台数据库进行数据变现。据了解，现阶段微瞰智能已经跟南通、苏州、上海等多家医院展开合作。        </p>
        <p style="margin:10px 0;color:#666666;">
            事实上，目前在医疗领域国内外利用AI技术做辅助诊断，尤其医学影像方向的公司并不在少数。国外有用深度学习技术帮助放射科医生分析医疗影像的Enlitic、开发全新方式透视人体的新型医学成像设备的Butterfly Network、计算机辅助钼靶诊断的VisExcell、云计算辅助肺癌筛查的VoxelCloud、图像分析诊断阿尔兹海默氏病的Brainreader等。国内也有Deepcare、推想科技、图玛深维等。而从数字病理切入的，国外市场包括德国的Definiens和徕卡显微系统公司、美国的Digipath、日本的尼康、丹麦的Visiopharm等等。而在国内，典型的如粉蓝医疗发起成立的华夏病理医生集团、91360智慧病理网也在构建数字病理远程会诊平台、优纳科技也拓展了自己的云病理服务平台。相比之下，李冠男表示大的硬件厂商参与者多以收购技术团队为主而非做独立研发，且医疗领域国外公司进入国内市场普遍存在一定难度，而跟医疗影像类公司之间微瞰智能则存在定位上的本质差异。此外，微瞰最核心的优势是在于其针对不同病种提供的基于人工智能的数字病理图像分析模块，目的在于真正的提高病理诊断的精准率。
        </p>
        <p style="margin:10px 0;color:#666666;">
            团队方面，目前整体有12人。创始人李冠男，英国华威大学计算机博士，BIA-LAB（生物图像分析实验室， TIA-LAB前身）成员，在多个国际学术会议和期刊发表上过多篇人工智能病理诊断论文。联合创始人徐丰，诊断级远程医学影像服务平台51dupian的联合创始人，具有多年互联网医疗创业经验。科学顾问Nasir Rajpoot，英国华威大学计算机系教授，TIA-LAB创始人及数字病理研究中心主任，IEEE资深会员，也是美国计算机协会、英国癌症研究协会和欧洲癌症研究协会员，英国NHS乳腺癌人工智能病理诊断研究负责人。
        </p>
    </div>
</div>
</body>
</html>