<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>戒烟</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link rel="stylesheet" href="../../css/comm.css"/>
    <link rel="stylesheet" href="../../css/main.css"/>
</head>
<body>
    <div class="container">
        <div class="harm-smok-list">
            <div class="harm-smok">吸烟危害</div>
            <ul>
                <li class="smok-li"><span class="smok-img"><img src="../../images/icon-png/1.png" /></span><span>吸烟减少寿命，平均每吸一支烟会缩短11分钟的寿命，不吸烟者比吸烟者要长寿。</span></li>
                <li class="smok-li"><span class="smok-img"><img src="../../images/icon-png/2.png" /></span><span>吸烟影响睡眠质量，吸烟的人睡眠时间比不吸烟的人要少,并且睡眠质量也较差。</span></li>
                <li class="smok-li"><span class="smok-img"><img src="../../images/icon-png/3.png" /></span><span>吸烟影响生育功能，长期吸烟使得人精子中尼古丁受体超载，从而使得受精的能力下降。</span></li>
                <li class="smok-li"><span class="smok-img"><img src="../../images/icon-png/4.png" /></span><span>吸烟增加流产风险，吸烟使怀孕早期容易发生流产，到中期发生怀孕期间最危险的并发症之—妊高症。</span></li>
            </ul>

        </div>
        <div class="symptom">
            <div class="symptom-fx">症状表现</div>
            <div class="symptom-list">
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">咽喉不适</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">痰多</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">咳嗽</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">恶心</span>
                </a>
            </div>
        </div>
        <div class="symptom">
            <div class="symptom-fx">患者风险</div>
            <div class="symptom-list">
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">脑中风</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">肺炎</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">支气管炎</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">心脏病</span>
                </a>
            </div>
        </div>
        <div class="symptom">
            <div class="symptom-fx">致癌风险</div>
            <div class="symptom-list">
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">肺癌</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">喉癌</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">胃癌</span>
                </a>
                <a href="#">
                    <span class="symptom-img">
                        <img src="../../images/icon-png/1.png" alt=""/>
                    </span>
                    <span class="symptom-text">肝癌</span>
                </a>
            </div>
        </div>
    </div>
</body>

</html>